
@font-face {
    font-family: 'Sadoll GothicNeoRound';
    font-weight: 300;
    font-style: normal;
    font-style: swap;
    src: url('../SDGothicNeoRound-eMd.woff') format(woff);
}

@font-face {
    font-family: 'Sadoll GothicNeoRound';
    font-weight: 700;
    font-style: normal;
    font-style: swap;
    src: url('../SDGothicNeoRound-gBd.woff')format(woff);
}

@font-face {
    font-family: 'Sadoll GothicNeoRound';
    font-weight: 800;
    font-style: normal;
    font-style: swap;
    src: url('../SDGothicNeoRound-hEd.woff')format(woff);
}